@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;900&display=swap');

body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  font-style: normal;
  color: #3D3D3D;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
