@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@900&family=Roboto:wght@300;400;700;900&display=swap');

/* Variables */
:root {
    --clr-neutral-100: #fff;
    --clr-neutral-200: #f5f5f5;
    --clr-neutral-300: #aaaaaa;
    --clr-neutral-700: #1f1f1f;
    --clr-neutral-800: #0c0c0c;
    --clr-neutral-900: #000;

    --clr-primary-200: #78c0e0;
    --clr-primary-400: #1768ac;
    --clr-primary-500: #2541b2;

    --ff-primary: 'Roboto', sans-serif;
    --ff-accent: 'Fira Sans', sans-serif;
}

*:not(header),
*:not(header)::before,
*:not(header)::after {
    box-sizing: border-box;
}

body {
    background-color: var(--clr-neutral-200);
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.6;
}

header,
body,
h1,
h2,
h3,
p {
    margin: 0;
}

h1,
h2,
h3 {
    font-family: var(--ff-accent);
    font-weight: 900;
    line-height: 1;
}

header {
    position: fixed;
    margin-inline: auto;
    width: min(90%, 79.375rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 3rem;
}

.logo--mode {
    width: min(20%, 8.063rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    width: 35px;
}

.menu {
    width: min(20%, 6.563rem);
    display: flex;
    justify-content: space-between;
}

.menu > p {
    font-weight: 600;
}

.menu--icon {
    width: 30px;
}

.darkmode {
    display: flex;
    align-items: center;
    margin-block: auto;
    background-color: var(--clr-neutral-300);
    border-radius: 20px;
    width: 65px;
    height: 28px;
    transition: 0.5s;
}

.ball {
    position: relative;
    left: 2px;
    background-color: var(--clr-primary-500);
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

section {
    padding: 3rem 0;
}

.container {
    margin-inline: auto;
    width: min(90%, 66.625rem);
}
