.content{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: 0 auto;
  padding: 0;
  border: 2px solid crimson;
}

.bigText{
  position: relative;
  width: 50%;
  border: 2px solid blue;
}

.bigImg{
  position: relative;
  width: 40vw;
  border: 2px solid blue;
}