@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;900&display=swap');

div{
  display: flex;
}

#logo{
  position: absolute;
  width: 4rem;
  height: 4rem;
  left: 6rem;
  top: 2rem;
}

#bigImg{
  position: absolute;
  width: 50rem;
  height: 28rem;
  left: 35rem;
  top: 5rem;
}