@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;900&display=swap');

.presentation{
  margin-top: 10%;
  margin-left: 4rem;
  width: 45%;
  height: 20%;
  border: 2px solid blue;
}

.presentation h1{
  margin: 1rem;
  font-family: 'Fira Sans';
  font-weight: 900;
  font-size: 4vw;
  color: #1F1F1F;
}

.presentation h2{
  margin: 1rem;
  font-family: 'Fira Sans';
  font-weight: 250;
  font-size: 4vw;
  color: #1F1F1F;
}