.iconbar{
    display: flex;
    flex-direction: row;
    margin-left: 1.5vw;
    margin-top: 4vw;
    padding-left: 0.9vw;
    padding-right: 0.9vw;
    width: 55%;
    /* border: 2px solid blue; */
}

.iconbar a{
    margin: 3vw;
    width: 10%;
}

.icon{
    width: 100%;
    /* border: 2px solid purple; */
}